:root{
    /* Typography */
    --fs: 16px;

    /* Background colors */
    --main-bg-color: rgb(248, 243, 243);
    --banner-bg-color: rgb(255, 197, 122);
    --boxshadow: rgb(87, 87, 87);

    /* Font styles */
    --ff: 'Roboto', sans-serif;
    --fw-light: 400;
    --fw-bold: 700;
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.f{
    display: flex;
}

.fd-col{
    flex-direction: column;
}

body{
    font-size: var(--fs);
    font-family: var(--ff);
    background-color: var(--main-bg-color);
    color: black !important;
}

body > div{
    max-width: 1440px;
    margin: 0 auto;
}

header{
    top: 0;
    transition: top 0.3s;
    width: 100%;
    max-width: 1440px;
    padding: 1rem;
    position: fixed;
    z-index: 1000;
    box-shadow: 1px 1px 5px var(--boxshadow);
    background-color: var(--main-bg-color);
}

header.closed{
    top: -50px;
    padding: 2rem;
}

nav{
    justify-content: center;
}

.logo img{
    width: 25px;
    height: 25px;
}

.logo img.minimize{
    position: relative;
    width: 20px;
    height: 20px;
    bottom: -25px;
    right: 10px;
}

.nav{
    gap: 1rem;
}

.banner{
    width: 300px;
    height: 600px;
    justify-content: space-between;
    overflow: hidden;
    border-radius: .3rem;
    box-shadow: 1px 1px 5px var(--boxshadow);
    background-color: var(--banner-bg-color);
}

.shades{
    gap: 2rem;
}

#shaded1, #shaded2{
    position: relative;
    bottom: -20px;
    left: -50px;
    transform: skew(-20deg);
    transform: rotate(-45deg);
    border: 1px solid black;
    background-color: black;
    width: 250px;
    height: 20px;
}

@keyframes shadeAnimation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#beats1, #beats2{
    align-self: center;
}

@keyframes fadeAnimation {
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

#img_beats{
    position: relative;
    top: -105px;
    left: -6px;
    /* animation: imgFadeAnimation 5s forwards; */
}

@keyframes imgFadeAnimation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#img_beats img{
    min-height: 200px;
    max-height: 300px;
}

.products-section{
    height: 600px;
    box-shadow: 1px 1px 5px var(--boxshadow);
    border-radius: .5rem;
}

.content{
    margin-top: 4.8rem;
    padding: 0 2rem;
    justify-content: space-around;
}

.carousel-item{
    margin-left: 2rem;
    height: 400px;
    width: 300px;
}

.carousel-item:hover{
    box-shadow: 1px 1px 5px var(--boxshadow);
}

.shop_now{
    height: 350px;
    border-radius: .2rem;
    margin: 3.5rem 2rem;
    transition: 0.4s;
    background: linear-gradient(to top, rgb(46, 45, 45), rgb(233, 233, 233));
    justify-content: center;
    align-items: flex-end;
}

.go_shop{
    padding: .8rem;
    border: 1px solid red;
    width: max-content;
    border-radius: 1.5rem;
    cursor: pointer;
} 

.go_shop:hover{
    background-color: rebeccapurple;
    transition: 0.5s;
}

.join{
    gap: 1rem;
    padding-bottom: 2rem;
}

.join input{
    height: 40px;
    width: 250px;
    text-align: center;
    align-self: center;
    background-color: rgb(255, 255, 255);
    border-radius: .3rem;
}

.email-error{
    border: 1px solid red;
}

.email-error:target{
    border: 1px solid red;
}

.email-valid{
    border: 1px solid green;
}


/* Footer */
footer{
    border-top: 1px solid black;
    background-color: rgb(253, 248, 248);
    gap: 2.5rem;
    padding: 3.5rem 0 2rem 0;
    color: rgb(66, 66, 66);
}

.dfooter{
    width: 100%;
    justify-content: space-around;
}

.products, .company, .legal, .copyright{
    gap: 1rem;
}

.copyright{
    justify-content: center;
}

/* typography */
p{
    font-weight: var(--fw-bold);
    font-size: 2rem;
    text-align: right;
    padding-right: 1rem;
    line-height: 1.3;
}

#error_mess{
    position: relative;
    top: -10px;
    font-size: .8rem;
    color: red;
}

li{
    list-style-type: none;
    cursor: pointer;
}

li:hover{
    color: black;
}

h4{
    font-weight: var(--fw-bold) !important;
}

.copyright p{
    font-size: .8rem;
    font-weight: var(--fw-light);
}